.dashboard {
  min-height: 100vh;
  background-color: #f0f8ff;
  padding: 2rem;
  /* the top part of the dashboard is hidden by the navbar */
  padding-top: 6rem;
}

.dashboard-content {
  max-width: 90%;
  margin: 0 auto;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .dashboard {
    padding: 1rem;
    margin-top: 150px;
  }

  @media (max-width: 527px) {
    .dashboard {
      padding: 1rem;
      margin-top: 200px;
  }

  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}
