# Environments
venv
env

# Data
models/bert-base-uncased_tests/*
models/distilbert-base-uncased_tests/*

# Models
models/distilbert-imdb-model/*
models/logs
models/results/checkpoint-*/*

# fine tuned models
models/imdb_fine_tuned_text_classification_model/*

# put files and folders you want to not be tracked by git here
