node_modules
# Environments
venv
env

node_modules
unrelated/backend.txt
unrelated/frontend.txt

.pdf
uploads
up
output.txt

kalasik
\frontend\resources
/frontend/resources
\frontend\src\assets\kalasik
/frontend/src/assets/kalasik